<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3.5">
		<item label="Intern">
			<action name="Execute">
				<execute>
					/home/marcel/.scripts/.monitorintern
				</execute>
			</action>
		</item>
		<item label="Extern">
			<action name="Execute">
				<execute>
					/home/marcel/.scripts/.monitor
				</execute>
			</action>
		</item>
		<item label="Dual">
			<action name="Execute">
				<execute>
					/home/marcel/.scripts/.monitodual
				</execute>
			</action>
		</item>
		<separator/>
		<item label="Terminal">
			<action name="Execute">
				<execute>
					urxvt
				</execute>
			</action>
		</item>
		<item label="WWW">
			<action name="Execute">
				<execute>
					firefox
				</execute>
			</action>
		</item>
		<item label="Email">
			<action name="Execute">
				<execute>
					sylpheed
				</execute>
			</action>
		</item>
		<item label="Music">
			<action name="Execute">
				<execute>
					deadbeef
				</execute>
			</action>
		</item>
		<item label="Dateien">
			<action name="Execute">
				<execute>
					pcmanfm
				</execute>
			</action>
		</item>
		<separator/>
		<menu execute="openbox-menu -i" id="desktop-app-menu" label="Applications"/>
		<menu id="Preferences" label="Preferences">
			<menu id="root-menu-90523" label="Conky Config">
				<item label="Edit .conkyrc">
					<action name="Execute">
						<execute>
							leafpad ~/.conkyrc
						</execute>
					</action>
				</item>
				<item label="Restart Conky">
					<action name="Execute">
						<execute>
							conkywonky
						</execute>
					</action>
				</item>
			</menu>
			<menu id="root-menu-891528" label="Eye Candy">
				<item label="No effects">
					<action name="Execute">
						<execute>
							~/.config/openbox/scripts/xcompmgr.sh unset
						</execute>
					</action>
				</item>
				<item label="Transparency">
					<action name="Execute">
						<execute>
							~/.config/openbox/scripts/xcompmgr.sh set
						</execute>
					</action>
				</item>
				<item label="Transparency, fading">
					<action name="Execute">
						<execute>
							~/.config/openbox/scripts/xcompmgr.sh setshaded
						</execute>
					</action>
				</item>
				<item label="Transparency, fading shadows">
					<action name="Execute">
						<execute>
							~/.config/openbox/scripts/xcompmgr.sh setshadowshade
						</execute>
					</action>
				</item>
			</menu>
			<menu id="root-menu-525118" label="Openbox Config">
				<item label="Edit autostart">
					<action name="Execute">
						<execute>
							leafpad ~/.config/openbox/autostart
						</execute>
					</action>
				</item>
				<item label="GUI Menu Editor">
					<action name="Execute">
						<execute>
							obmenu
						</execute>
					</action>
				</item>
				<item label="GUI Config Tool">
					<action name="Execute">
						<execute>
							obconf
						</execute>
					</action>
				</item>
				<item label="Key Editor">
					<action name="Execute">
						<execute>
							obkey
						</execute>
					</action>
				</item>
				<item label="Reconfigure">
					<action name="Reconfigure"/>
				</item>
				<item label="Restart">
					<action name="Restart"/>
				</item>
			</menu>
			<menu id="root-menu-23433" label="Take Screenshot">
				<item label="Now">
					<action name="Execute">
						<execute>
							scrot '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mv $f ~/ &amp; geeqie ~/$f'
						</execute>
					</action>
				</item>
				<item label="In 5 Seconds...">
					<action name="Execute">
						<execute>
							scrot -d 5 '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mv $f ~/ &amp; geeqie ~/$f'
						</execute>
					</action>
				</item>
				<item label="In 10 Seconds...">
					<action name="Execute">
						<execute>
							scrot -d 10 '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mv $f ~/ &amp; geeqie ~/$f'
						</execute>
					</action>
				</item>
				<item label="Selected Area... (click &amp; drag mouse)">
					<action name="Execute">
						<execute>
							scrot -s '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mv $f ~/ &amp; geeqie ~/$f'
						</execute>
					</action>
				</item>
			</menu>
			<menu id="root-menu-571948" label="tint2 config">
				<item label="Edit tint2rc">
					<action name="Execute">
						<execute>
							leafpad ~/.config/tint2/tint2rc
						</execute>
					</action>
				</item>
			</menu>
			<menu id="Preferences-802249" label="ssh">
				<item label="Start">
					<action name="Execute">
						<execute>
							urxvt -e sudo /etc/rc.d/sshd start
						</execute>
					</action>
				</item>
				<item label="Stop">
					<action name="Execute">
						<execute>
							urxvt -e sudo /etc/rc.d/sshd stop
						</execute>
					</action>
				</item>
				<item label="Sync">
					<action name="Execute">
						<execute>
							urxvt -e /home/marcel/.scripts/dotfiles sync
						</execute>
					</action>
				</item>
			</menu>
			<item label="Edit /etc/rc.conf">
				<action name="Execute">
					<execute>
						gksudo leafpad /etc/rc.conf
					</execute>
				</action>
			</item>
			<item label="Input Device Preferences">
				<action name="Execute">
					<execute>
						lxinput
					</execute>
				</action>
			</item>
			<item label="Screen Resolution">
				<action name="Execute">
					<execute>
						arandr
					</execute>
				</action>
			</item>
			<item label="User Interface Settings">
				<action name="Execute">
					<execute>
						lxappearance
					</execute>
				</action>
			</item>
			<item label="Alsa-equalizer">
				<action name="Execute">
					<execute>
						urxvt -e alsamixer -D equal
					</execute>
				</action>
			</item>
			<item label="Wallpaper">
				<action name="Execute">
					<execute>
						nitrogen
					</execute>
				</action>
			</item>
			<item label="Bleachbit">
				<action name="Execute">
					<execute>
						gksudo bleachbit
					</execute>
				</action>
			</item>
			<item label="CacheClean">
				<action name="Execute">
					<execute>
						/home/marcel/.scripts/.clearcache
					</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<item label="Exit">
			<action name="Execute">
				<execute>
					oblogout
				</execute>
			</action>
		</item>
	</menu>
</openbox_menu>
